<tr>
  <td><%= taskee.fullname %></td>
  <td><b><%= skillsets(taskee) %></b></td>
  <td>
    <a class="btn user-map-trigger" data-longitude="<%= taskee.longitude %>" data-latitude="<%= taskee.latitude %>" href="#user-location-modal">View</a>
  </td>
</tr>
