<main>
  <section class="main container center-align">
    <h3>Welcome <%= "#{current_user.firstname} #{current_user.lastname}" %> </h3>
    <p>Hope you are ready to make Workdey a better company as you execute all your administrative tasks. </p>
  </section>
</main>
