<header class="center-align">
  <%= link_to "Workdey", dashboard_path, class: "brand-logo" %>
</header>

<main class="center-align">
  <section class="intro container">
    <header>
      <h1>
        Hi, <%= "#{current_user.firstname} #{current_user.lastname}" %>
      </h1>
      <p>
        Just a few quick things to get your account all set up
      </p>
    </header>
  </section>

  <section>
    <header>
      <h2>How would you like to use this platform?</h2>
    </header>
    <%= link_to "I need help with tasks", role_path(role: "tasker"), method: :post, class: "btn" %>
    <%= link_to "I want to carry out tasks", role_path(role: "taskee"), method: :post, class: "btn" %>
  </section>
</main>