<header>
  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li>
          <a class="waves-effect waves-light" href="#">
            <i class="material-icons left">account_box</i> SIGN UP
          </a>
        </li>
        <li>
          <a class="waves-effect waves-light" href="#">
            <i class="material-icons right">dashboard</i> LOG IN
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section class="main">
  <div class="row">
    <aside class="sidebar">
      <p>
        <i class="fa fa-skyatlas"></i> WORKDEY
      </p>

      <ul class="page-links">
        <li>
          <a href="#">
            <i class="material-icons right tiny">home</i>HOME
          </a>
        </li>
       <li>
          <a href="#">
            <i class="material-icons right tiny">description</i>CREATE A TASK
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-tasks right"></i>TASKLOG
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-history right"></i>HISTORY
          </a>
        </li>
        <li>
          <a href="#">
            <i class="material-icons right tiny">grade</i>UPGRADE
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comment right"></i>FEEDBACK
          </a>
        </li>
      </ul>

      <ul class="info-links">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
      </ul>

      <ul class="social-media-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </aside>
  </div>
</section>