<header class="center-align">
  <%= link_to "Workdey", dashboard_path, class: "brand-logo" %>
</header>

<main>
  <section class="quiz-section container">
    <h3 class="center-align">Taskee Verification Quiz</h3>
    <div class="progress">
      <div class="determinate" style="width: 0"></div>
    </div>
    <div class="row quiz-info">
      <div class="col s8 offset-s2 center-align">
        <p>
          In order to check that you have completely understood the guidelines as specified, you will need to test your knowledge by answering a few easy questions.
          Note that you have to <strong>answer all questions correctly</strong> to pass the quiz.
        </p>
        <button class="start-quiz btn">
          <i class="material-icons left">play_arrow</i> I'm ready!
        </button>
      </div>
    </div>
    <div class="row quiz-app">
      <div class="col s8 offset-s2 center-align">
        <h5 class="question"></h5>
        <div class="options"></div>
        <button class="btn next">
          <i class="material-icons right">forward</i> Submit
        </button>
      </div>
    </div>
  </section>

  <section class="answer-explanation">
    <h3 class="remark"></h3>
    <p class="exp"></p>
  </section>

  <%= render "partials/taskee_guidelines" %>
</main>