<li class="collection-item">
  <%= div_for skillset do %>
    <%= skillset.name %><%= link_to skillsets_path(skillset_id: skillset.id), method: :delete, remote: :true, class: "secondary-content" do %>
      <i class="material-icons">delete</i>
    <% end %>
  <% end %>
</li>
