<%= render 'partials/sidebar_dashboard' %>
<section class="main container center-align">
  <div class="row">
    <div class="col m10 offsetm1">
      <h2>My Skill sets</h2>
    </div>
  </div>
</section>
