<p>&nbsp; &nbsp;Post a Comment</p>
<div class="row">
  <div class=" col s8 container">
  <%= form_for [ @review, @review_comment ], remote: true do |f| %>
    <p>
      <%= f.label :body %><br/>
      <%= f.text_area :body, id: "comment_body" %>
    </p>
    <p>
      <%= f.submit 'Submit', id: "submit_comment" %>
    </p>
  <% end %>
  </div>
</div>
