 <ul class="collection col s4 search-result-task">
 <li class="collection-item avatar">
   <img src="<%= task.tasker.image_url %>" alt="" class=" responsive-img circle">
   <p class="">Name: <%= task.name.capitalize %></p>
   <p>Price: <%= task.price %> </p>
   <p>Start Date: <%= task.start_date %> </p>
   <div class="apply-link">
    <span class="text-center"><a class="apply" href="#"> APPLY </a></span>
   </div>
 </li>
 </ul>
