<section class="main container center-align">
  <h1>Uncertified Artisans</h1>

  <table class="table striped">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
    </thead>
    <tbody>
      <% @uncertified_artisans.each do |artisan| %>
      <tr>
        <td> <%= artisan.firstname %></td>
        <td> <%= artisan.lastname %></td>
        <td> <%= link_to 'Certify', '/ratings/new/' + artisan.id.to_s,
        :class => "btn btn-large" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>
