<div class="container-large">
    <div class="card center col s12 m12 l12">
        <ul class="collection">
            <% @applicants.each do |applicant| %>
            <li class="collection-item li_item">
                <%= applicant.fullname %>
            </br>
            <ul class="li_item">
                <% applicant.skillsets.each do |skillset| %>
                <li class="chip trade_chips">
                    <%= skillset.name %>&nbsp
                </li>
                <% end %>

            </ul>
            <p>
                Submitted on:
                <%= Date.strptime(applicant.updated_at.to_s, "%Y-%m-%d")%>
            </p>
            <%= link_to "View", review_applicant_path(applicant), class: "btn view_btn" %>
        </li>
        <% end %>
    </ul>

</div>
</div>
