<div id="enquiry-slider" style="right:-342px;">
  <div id="enquiry-sidebar" onclick="open_panel()">
    <button class="btn-floating btn-large waves-effect waves-light">
      <i class="material-icons">email</i>
    </button>
  </div>
  <%= form_for @enquiry, url: enquiries_path, method: :post do |f| %>
  <div id="contact-form">
    <h3>Enquiry</h3>
    <p class="enquiry-message">Hey! Our customer service consultants are
      ready to serve you but aren't currently available on chat.
      Send us a message and we'll get back to you as quickly as possible. </p>
     <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= f.text_area :question, class: 'form-control materialize-textarea',
      placeholder: "question"%>
    </div>
    <%= f.submit "Send", class: 'btn' %>
  </div>
  <% end %>
</div>
