<div class="row page-footer">
  <footer class="center-align col s12">
  <div class="row">
    <div class="col s6 social-media-links">
      <h5>We are social</h5>
      <ul>
        <li>
            <%= link_to raw("<i class='fa fa-facebook'></i>"), "http://on.fb.me/1QhFNBq", target: "_blank" %>
          </li>
          <li>
            <%= link_to raw("<i class='fa fa-twitter'></i>"), "http://bit.ly/1ljVaN6", target: "_blank" %>
          </li>
          <li>
            <%= link_to raw("<i class='fa fa-google-plus'></i>"), "http://bit.ly/1PBXU3l", target: "_blank" %>
          </li>
      </ul>
    </div>

    <div class="col s6 footer-links">
      <h5>Links</h5>
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms</a></li>
      </ul>
    </div>

    <div class="col s12 copyright">
      <p>&copy; 2015 Workdey. All rights reserved</p>
    </div>
  </div>
</footer>
</div>