<header>
    <nav class="nav-wrapper">
      <div class="container">
        <%= link_to "Workdey", root_path, class: "brand-logo" %>
        <ul class="right">
          <li>
            <%= link_to "FAQ", "#", class: "waves-effect waves-light" %>
          </li>
          <li>
            <%= link_to "SIGN IN", signin_path, class: "waves-effect waves-light" %>
          </li>
        </ul>
      </div>
    </nav>
</header>

