<%= form_tag search_path, method: "post", class: "row center-align"  do %>
  <div class="col s6 offset-s3">
    <input name= "searcher"  type="text" placeholder = "What do you need help with?" required>
    <button class="btn waves-effect" type="submit">
      <i class="material-icons left">search</i>Search
    </button>
  </div>
<% end %>