<section class="container tasker-guidelines">
    <h3>Guidelines for taskers</h3>
    <div class="row">
      <div class="col s8 offset-s2">
        <p>
          To ensure that you have the possible best that workdey has to offer, please ensure that you adhere to the following:
        </p>
        <ul class="guidelines left-align">
          <li>
            Always be detailed in the description of a task. This will help the artisans determine if they are the right fit for the task.
          </li>
          <li>
            Include pictures if it helps give a more accurate description of the task.
          </li>
          <li>
            Always communicate effectively with the artisan.
          </li>
          <li>
            Be clear in your dealings with the artisan, make sure to let the artisan know if you plan to cover transport costs and purchases made for you.
          </li>
          <li>
            Always uphold your side of the deal with an assigned artisan, commit to getting the task done with an assigned artisan.
          </li>
        </ul>
        <%= link_to raw("I understand <i class='material-icons left'>send</i>"), role_path(role: "tasker"), method: :post, class: "btn" %>
      </div>
    </div>
  </section>