<section id="taskee-guidelines" class="container taskee-guidelines">
    <h3 class="center-align">Guidelines for taskees</h3>
    <div class="row">
      <div class="col s8 offset-s2">
        <p>
          Workdey is the platform to grow your business. As a taskee on workdey, you have full access to the entire platform and you can start earning cash but there are a few things you need to be aware of:
        </p>
        <ul class="guidelines left-align">
          <li>
            <strong>Honesty:</strong> Make sure you submit valid information about yourself as this will place you as a better candidate for available tasks.
          </li>
          <li>
            <strong>Reliability:</strong> To ensure that you always deliver the possible best at all times, make sure that you are reliable. Always complete assigned tasks at the appropriate agreed time.
          </li>
          <li>
            <strong>Timeliness:</strong> Always be on time to carry out assigned tasks and always endeavor to finish assigned tasks at the appropriate time.
          </li>
          <li>
            <strong>Always be clear with your client:</strong> Make sure you always communicate effectively with your client as this help mitigate any issues that might arise due to poor communication between you and your client. Be sure to inform your client of any additional thing that will be needed to complete an assigned task.
          </li>
          <li>
            <strong>Treat workdey like a business:</strong> A popular Nigerian saying goes thus: "na where man dey work, na there im dey chop". When you deliver great services on workdey, you will always get more work and thereby grow your own business.
          </li>
        </ul>

        <p class="left-align">
          The following sections provide more detail on what we expect from you as a Taskee.
        </p>

        <h3 class="left-align">
          <strong>Timeliness</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            Always respond to invitations to carry out a task on time. If you won't be available within the specified time period, do well to inform the client swiftly.
          </li>
          <li>
            Always respond to a client's message on time, do not leave the person hanging while a message thread is ongoing.
          </li>
          <li>
            Always get to the specified location on time and do well to finish the assigned task in the specified time period agreed upon with the client. Make sure you inform the client beforehand if there are going to be any delays in carrying out a task.
          </li>
        </ul>

        <h3 class="left-align">
          <strong>Top-notch work</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            Make sure to update your profile with relevant information about tasks that you are well qualified to carry out.
          </li>
          <li>
           Accept tasks only when you know that you are capable of carrying out assigned task without any issues. Understand the location and the client's expectations and do well to put in your absolute best.
          </li>
          <li>
             Don't accept tasks that you are not capable of handling.
          </li>
          <li>
            Do not outsource tasks to a third party.
          </li>
        </ul>

        <p class="left-align">
          The following section detail how you should conduct your business on the workdey platform.
        </p>

        <h3 class="left-align">
          <strong>Accepting Tasks</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            Update your account with relevant information about tasks that you are qualified to handle and you are willing to do. You are expected to accept tasks that fall within the boundaries set by you.
          </li>
        </ul>

        <h3 class="left-align">
          <strong>Rejecting Tasks</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            Reject tasks if you feel that you cannot deliver the very best.
          </li>
          <li>
            Reject tasks if you feel unsafe about carrying out the task or the location.
          </li>
          <li>
            Reject tasks if you won't be able to carry it out in the specified time period.
          </li>
        </ul>

        <h3 class="left-align">
          <strong>Bidding for tasks</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            A client will not always choose one particular taskee to carry out a task, this is true especially when the client hasn't worked with any taskee before and in this situation, your reputation on the platform will go a long way in helping you seal the deal.
          </li>
          <li>
            You can't negotiate for this kind of task as the price will more than likely be fixed at a certain price.
          </li>
          <li>
            Only bid for tasks you are able to carry out effectively and efficiently.
          </li>
        </ul>

        <h3 class="left-align">
          <strong>Negotiations and rates</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            You can set your price range for different task types that you are able to carry out. This will go a long way when clients are looking for a taskee to delegate a task to. Once a task is accepted, you can't review the price until the task is done.
          </li>
          <li>
            Always review your price range to make sure it is commensurate with your skill level, qualifications, experience and availability.
          </li>
          <li>
            Once a task is complete, endeavor to mark it as complete.
          </li>
        </ul>

        <h3 class="left-align">
          <strong>Out-of-pocket expenses</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            Make sure to be reimbursed for any purchase made on behalf or at the behest of a client.
          </li>
          <li>
            Do not ask for transportation reimbursement from the client. Make sure to take this into consideration before accepting a task and set your price range appropriately.
          </li>
        </ul>

        <h3 class="left-align">
          <strong>Safety</strong>
        </h3>

        <ul class="guidelines left-align">
          <li>
            You should make safety a top priority, politely leave the task if you feel uncomfortable or unsafe about carrying out a task.
          </li>
          <li>
            Do not accept any task that puts you at financial risk or risk of physical injury.
          </li>
        </ul>
        <% if current_page?(role_path) %>
          <%= link_to raw("I understand <i class='material-icons left'>send</i>"), role_path(role: "taskee"), method: :post, remote: true, class: "btn", id: "accept-taskee-guidlines" %>
        <% end %>
      </div>
    </div>
  </section>
