<div class="mail-wrapper">
  <h1>Your Workdey Notification</h1>

  <p>
    You have available notifications on workdey 
    check it out below:
  </p>

  <%= @user.email %>

  <p>log in to your workdey account to address this notification</p>

</div>
