<div class="viewed feed">
  <img src="<%= notification.sender.image_url %>" alt=""/>
  <p class="title">
    <%= notification.message %>
  </p>
  <a href="#modal1" id="notification-btn" onclick="modal_object(<%= notification.sender.to_json %>, <%= notification.id %>)"
    class="btn info_btn modal-trigger">view</a>

</div>

<div id="modal1" class="modal info_modal">
<div class="modal-content">
  <h4>Artisan Information</h4>
  <p class="artisan_name">Name:
    <span id="name"></span>
  </p>
  <p class="artisan_phone">Phone:
    <span id="phone"></span>
  </p>
  <p class="artisan_email">Email:
    <span id="email"></span>
  </p>
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
</div>
</div>
