<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Tasker Information</h4>
      <p class="taskee_name">Name: <span id="name"></span></p>
      <p class="taskee_phone">Phone: <span id="phone"></span></p>
      <p class="taskee_email">Email: <span id="email"></span></p>
    </div>
  </div>
