<div id="contact_moda" class="modal info_modal">
    <div class="modal-content">
      <h4>Tasker Information</h4>
      <p class="artisan_name">Name: <span id="name"></span></p>
      <p class="artisan_phone">Phone: <span id="phone"></span></p>
      <p class="artisan_email">Email: <span id="email"></span></p>
    </div>
  </div>
