<main>
  <section class="notifications container">
    <div class="row">
      <div class="col s12">
        <h3>Notifications</h3>
      </div>

      <% if @notifiable.present?  %>
      <div class="notification-feed col s6">
        <% @notifiable.each do |object| %>
          <%= show_notifications(object) %>
        <% end %>
      </div>

      <div class="full_notification_message col s6 center-align card-panel">
        <p>Click on the view button to get more information about a task</p>
        <i class="material-icons">directions_bike</i>
      </div>
      <% else  %>
        <div class="col s6 full_notification_message center-align card-panel">
          <p>No new notifications available</p>
          <i class="material-icons">highlight_off</i>
          <i class="material-icons">highlight_off</i>
          <i class="material-icons">highlight_off</i>
          <i class="material-icons">highlight_off</i>
        </div>
      <% end  %>
    </div>
  </section>
</main>