<main>
  <section class="notifications container">
    <div class="row">
      <div class="col s12">
        <h3>Notifications</h3>
      </div>

      <% if @notifications.present? %>
      <div class="notification-feed col s8">
        <% @notifications.each do |notification| %>
        <% if notification.notifiable_type == "Enquiry" %>
        <%= render partial: "enquiry_notifications", locals: { notification: notification } %>
        <% elsif current_user.artisan? %>
        <%= render partial: "task_notification", locals: { notification: notification } %>
      <% else %>
        <%= render partial: "show_notification", locals: { notification: notification } %>
        <% end %>
        <% end %>
      </div>
    <% else  %>
      <div class="col s6 full_notification_message center-align card-panel">
        <p>No new notifications available</p>
        <% 4.times do %>
        <i class="material-icons">highlight_off</i>
        <% end %>
      </div>
      <% end  %>
    </div>
  </section>
</main>
