<main>
  <section class="notifications container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>Notifications</h2>
      </div>
      <% if @notifications.present? && current_user.taskee?  %>
        <div class="notifications-feed col s12 m8 offset-m2">
          <% @notifications.each do |object| %>
            <%= object.broadcast_taskee_notifications %>
          <% end %>
        </div>
      <% elsif @notifications.present? && current_user.tasker? %>
        <div class="notifications-feed col s12 m8 offset-m2">
          <% @notifications.each do |object| %>
            <%= object.broadcast_tasker_notifications %>
          <% end %>
        </div>
      <% else  %>
        <div class="col s12 m8 offset-m2 center-align">
          <i class="large material-icons">highlight_off</i>
          <p>No new notifications available</p>
        </div>
      <% end  %>
    </div>
  </section>
</main>
