<main>
  <section class="notifications container">
    <div class="row">
      <div class="col s12 center-align">
        <h2>Notifications</h2>
      </div>
      <% if @notifications.present? && current_user.taskee?  %>
        <div class="notifications-feed col s12 m8 offset-m2">
          <% @notifications.each do |object| %>
            <%= object.broadcast_taskee_notifications %>
          <% end %>
        </div>
      <% elsif @notifications.present? && current_user.tasker? %>
        <div class="notifications-feed col s12 m8 offset-m2">
          <% @notifications.each do |object| %>
            <% if object.notifiable_type == 'TaskManagement' %>
              <%= object.share_contact_notifications %>
              <div id='modal1' class="modal info_modal">
                <div class='modal-content'>
                  <h4>Tasker Information</h4>
                  <p class='taskee_name'>Name: <span id='name'></span></p>
                  <p class='taskee_phone'>Phone: <span id='phone'></span></p>
                  <p class='taskee_email'>Email: <span id='email'></span></p>
                </div>
              </div>
            <% else %>
              <%= object.broadcast_tasker_notifications %>
            <% end %>
          <% end %>
        <% else  %>
          <div class="col s12 m8 offset-m2 center-align">
            <i class="large material-icons">highlight_off</i>
            <p>No new notifications available</p>
          </div>
        <% end  %>
      </div>
    </section>
  </main>
