<tr>
  <td><%= link_to user.fullname, user_profile_path({ artisan_view: true }.merge(obfuscate("artisan_id" => user.id))) %></td>
  <td><b><%= skillsets(user) %></b></td>
  <td>
    <a class="btn user-map-trigger" data-longitude="<%= user.longitude %>" data-latitude="<%= user.latitude %>" href="#user-location-modal">View</a>
  </td>
</tr>
