.hidden {
  transition-duration: 0.6s;
  transform: scale(0);
  opacity: 0;
  position: absolute !important;
}

.error-explanation {
  color: darken($primary-color, 10%);
  padding: em(15px);

  .material-icons {
    display: inline-block;
    margin-left: em(5px);
  }

  .error-count {
    text-align: center;
  }
}
.info_status {
   border: 1px solid green;
   margin: 0 auto;
   width: 115px;
   padding: 5px;
}
.side-nav a{
  color: white !important;
}

.sinav{
  background-color: #444;
}

.side-nav a:hover {
  background-color: #ddd;
  color: #000 !important;
}

ul#slide-out {
  width: 180px !important;
  left: 0;
}

.side-nav li {
  float: none;
  padding: 0;
}

.sidenav-tog{
  display: inline !important;
}

i.material-icons.prefix.ji {
    position: relative;
    bottom: -4px;
}

.sweet-alert button.cancel {
  background-color: #eb4D5c !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.input-field.col.m6.push-5.jiji{
  // padding-top: 35px;
  z-index: 9999;
}
.select-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
}

button.btn[disabled] {
  cursor: not-allowed;
}

[type="radio"]:checked + label:after {
  background-color: $primary-color;
  border-color: $primary-color;
}

[class^="flash-"] {
 position: relative;
 transition-duration: 0.6s;

 .close-flash {
  cursor: pointer;
  position: absolute;
  top: 25%;
  right: 1%;
 }
}

.flash-invalid {
  color: $primary-color;

  p {
    text-align: left;
    text-indent: em(50px);
    position: relative;

    .alert-danger {
      font-size: em(19px);
      position: absolute;
      left: -7%;
      top: 5%;
    }
  }
}

.search-i {
  cursor: pointer;
  // font-size: 20px !important;
  // font-weight: normal !important;
  // line-height: 65px !important;
}

.search-icon-span {
  // display: inline-block;
  position: relative;
}
.search-bar {
  border-bottom: 2px solid #ffffff;
  display: none;
  height: 3em;
  width: 100%;
}
#search-input {
  width: 80%;
}
#my-input-field {
  font-size: 1em !important;
  padding-left: 0 !important;
}
#my-search-field {
  width: 220px;
  border-bottom: none;
  box-shadow: none;
}
.apply{
  color: #eb4D5c !important;
}
.my-input {
  #my-input-field:focus {
    border-bottom: 0 solid;
    box-shadow: 0 0 0 0;
  }
}
.search-result-task{
  border: none !important;
}
.search-height{
  min-height: 550px;
}
.search-container {
  padding-right: 0 !important;
}
div.apply-link {
  width: 236px;
  height: 86px;
  background: white;
  display: none;
  top: 0px;
  left: 0px;
  text-align: center;
  vertical-align: middle;
  padding-top: 35px;
}

li.collection-item:hover {
  .apply-link {
    display: block;
    position: absolute;
  }
}


.flash-mail {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: antiquewhite;
  margin-top: 20px;
  box-shadow: 0 3px 0px tomato;
}
