.hidden {
  transition-duration: 0.6s;
  transform: scale(0);
  opacity: 0;
  position: absolute !important;
}

.error-explanation {
  color: darken($primary-color, 10%);
  padding: em(15px);

  .material-icons {
    display: inline-block;
    margin-left: em(5px);
  }

  .error-count {
    text-align: center;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

button.btn[disabled] {
  cursor: not-allowed;
}

[type="radio"]:checked + label:after {
  background-color: $primary-color;
  border-color: $primary-color;
}

[class^="flash-"] {
 position: relative;
 transition-duration: 0.6s;

 .close-flash {
  cursor: pointer;
  position: absolute;
  top: 25%;
  right: 1%;
 }
}

.flash-invalid {
  color: $primary-color;

  p {
    text-align: left;
    text-indent: em(50px);
    position: relative;

    .alert-danger {
      font-size: em(19px);
      position: absolute;
      left: -7%;
      top: 5%;
    }
  }
}

.flash-mail {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: antiquewhite;
  margin-top: 20px;
  box-shadow: 0 3px 0px tomato;
}