@keyframes bouncy {
  0% { transform: translateY(-30px) }
  20% { transform: translateY(-15px) }
  40% { transform: translateY(-10px) }
  60% { transform: translateY(0) }
  80% { transform: translateY(-10px) }
  90% { transform: translateY(-15px) }
  100% { transform: translateY(-30px) }
}

%scroll-notification {
  animation: bouncy 1.5s infinite linear;
  transition-duration: 0.6s;
}