.inline {
  display: inline-block;
}

#new-bid-btn {
  margin-bottom: 1.5rem;
  margin-left: 33rem;
}

.pagination {
  text-align: center;

  a {
    color: $primary-color;

    li.active {
      color: #fff;
    }
  }
}

.pagination {
  .waves-effect {
    vertical-align: inherit !important;
  }
}

.bids {
  position: relative;
}

.taskee_img {
  padding: 20px;
  img {
    border-radius: 50%;
  }
}

.taskee_reviews {
  .ratings {
    .fa {
      cursor: default;
      color: transparentize(grey, .7);

      &.yellow-star {
        color: darken(yellow, 5%);
      }
    }
  }
}

.no-height {
  height: initial !important;
}
