nav .nav-wrapper {
  padding-right: 30px;
  i {
    font-size: 1.2rem;
  }
}

.user_info {
  background-color: #fff;
  min-height: 30em;
  margin: 3em;
  width: 56em;
  padding:2em 6em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  border-radius: 1.5em;
}

.user-profile {
  input[type=text]:disabled, input[name=email]:disabled{
    color: #000 !important;
  }
}

.view_profile {
  img {
    width: 15em;
    height: 15em;
  }
  li {
    font-size: 1.8em;
  }
}
