nav .nav-wrapper {
  padding-right: 30px;
  i {
    font-size: 1.2rem;
  }
}

.user_info {
  background-color: #fff;
  min-height: 30em;
  margin: 3em;
  width: 56em;
  padding:2em 6em;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  border-radius: 1.5em;
}

.user-profile {
  input[type=text]:disabled, input[name=email]:disabled{
    color: #000 !important;
  }
}

.view_profile {
  img {
    width: 15em;
    height: 15em;
  }
  li {
    font-size: 1.8em;
  }
}



// Dashboard index
.sidebar-dash {
  position: absolute;
  height: 90%;
  width: 200px;
  float: left;
  background-color: #767373;
  color: white !important;

  ul{
    text-decoration: none;
    padding-top: 40px;

    li {
      text-decoration: none;
      color: white !important;
    }
    a {
      color: white;
    }
    hr{
      border-style: solid;
      border-width: thin;
      width: 170px;
      color: #9E9E9E !important;
    }
  }

  .side-nav-button {
      padding: 20px 10px 20px 40px;
    }
    .side-nav-button:hover{
      background-color: #9D9B9B !important;
      color: #ECECEC;
    }
  }

  .selected {
    padding: 20px 10px 20px 40px;
    background-color:#FFFFFF;
    color: grey !important;
  }


[class^="dashboard-"], .pages-search, .taskmanagements-new, [class^="notifications-"] {
  .nav-wrapper {
    .dropdown {
      @include display(flex);
      @include flex-direction(row-reverse);
      padding: em(6px);

      .user-profile-image {
        width: 50px;
        height: 50px;
        max-width: 100%;
        margin-top: em(7.5px);
        border-radius: 100%;
      }

      .username {
        padding-left: em(10px);
        padding-right: em(10px);
        font-weight: 600;
      }
    }

    .dashboard-navlinks {
      margin-top: em(15px);
      position: relative;

      .notification-badge {
        position: absolute;
        top: -15px;
        left: -10px;

        span {
          border: 1px solid #fff;
          padding: 1px 6px;
          border-radius: 3px;
          background-color: #fff;
          color: #eb4d5c;
        }
      }
    }

    .dropdown-content {
      overflow: hidden;

      li > a {
        font-size: inherit;
      }
    }
  }

  // Assign task

    .assign-form {
      .card-panel > img {
        width: 150px;
        height: 150px;
        max-width: 100%;
        margin-top: em(7.5px);
        border-radius: 100%;
      }
    }

    // Notifications

    .notifications {
      transition-duration: 0.6s;
    }

    .notification-feed {
      height: em(325px);
      overflow: hidden;
    }

    .feed {
      border-bottom: 1px solid #ccc;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f7f8;
      transition-duration: 0.6s;

      &.viewed {
        background-color: transparent;
        transition-duration: 0.6s;
      }

      &:last-child {
        border: 0;
      }

      img {
        width: em(30px);
        height: em(30px);
        border-radius: 100%;
      }

      .btn {
        height: em(25px);
        line-height: em(25px);
      }
    }

    .full_notification_message {
      padding: em(55px);

      .actions {
        @include display(flex);
        @include justify-content(space-around);

        .btn > .material-icons {
          pointer-events: none;
        }
      }
    }

}
