#new-reference-btn {
  bottom: 45px;
}

#endorsement-collection {
  margin-top: 3rem;
}

.bottom-secondary-content {
  position: absolute;
  right: 16px;
  bottom: 1px;
}

.fixed-action-btn {
  bottom: 105px;
}
