
.container-large {
  padding-left: 20em;
  width: 90%;
  margin: auto;
}

.view_btn {
   margin-left: 40em;
}
.trade_chips {
  margin-top: 5em
}

.submission_date{
  margin-left: 40em;
  margin-bottom: auto;
}

.btn_flat{
  color: #EB4D5C;
}
.trade{
  display: inline;
}
.noScroll {
  overflow: hidden;
  position: fixed;
}
.answers {
  border-bottom: 1px solid;
  margin: 20px
}
