
.container-large {
  padding-left: 20em;
  width: 90%;
  margin: auto;
}

.view-btn {
   margin-left: 40em;
}

.trade-chips {
  margin-top: 5em;
}

.submission-date {
  margin-left: 40em;
  margin-bottom: auto;
}

.btn-flat {
  color: #EB4D5C;
}

.trade {
  display: inline;
}

.answers {
  border-bottom: 1px solid;
  margin: 20px;
}

.response-form {
  margin: auto;
}
