<div class="col s3 right broadcast-clmn">
  <% if @task.broadcasted %>
    <% if @task.status === "unassigned" || @task.status === "started" %>
      <%= link_to "Close Bid", dashboard_close_bid_path, method: :get, class: "waves-effect waves-light btn-large red-btn close-btn" %>
    <% end %>
  <% else %>
    <%= link_to broadcast_path(id: @task), method: :get, class: "waves-effect waves-light btn-large teal broadcast-btn" do %>
      Broadcast Task <i class="material-icons right">send</i>
    <% end %>
<% end %>
</div>
