<div class="row location-div">
  <div class="col s12">
    <h3>Location</h3>

    <div class="row">
      <div class="location-section col s12">
        <div class="location-title z-depth-1">
          <span class="brown-text"><%= @task.location %></span>
        </div>
        <div id="task_location_map">
          <span class="hide map-center"><%= @task.location %></span>
          <span class="hide map-latitude"><%= @task.latitude %></span>
          <span class="hide map-longitude"><%= @task.longitude %></span>
          <img src="" alt="Task location" class="hide"/>
        </div>
      </div>
    </div>
  </div>
</div>
