<%= render 'partials/sidebar_dashboard' %>
<section class="main container">
  <div class="row">
    <div class="col m12">
      <div class="row">
        <div class="col m8 offset-m1">
          <ul class="collection with-header">
            <li class="collection-header"><h4>My References</h4></li>
            <% if @references.present? %>
              <%= render @references %>
            <% else %>
              <li class="collection-item">You have no existing references. Click on the plus button to add one.</li>
            <% end %>
          </ul>
        </div>
        <div class="col m3">
          <div class="fixed-action-btn">
            <%= link_to new_dashboard_reference_path, class: 'btn-floating btn-large waves-effect waves-light red tooltipped',
              id: 'new-reference-btn', "data-position": "left", "data-delay": "50", "data-tooltip": "Add a reference" do %>
              <i class="material-icons">add</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
