<section class="dotnavigation dotstyle">
  <ul>
    <li><a href="#home" data-scroll>Home</a></li>
    <li><a href="#step" data-scroll>Steps</a></li>
    <li><a href="#why-use" data-scroll>Why</a></li>
  </ul>
</section>

<main>
  <section class="main">
  <div class="row">

    <section class="main-section col s9 offset-s3" id="home">
      <h1 class="center-align hero-msg">YOU HAVE BETTER THINGS TO DO</h1>
      <p class="tagline center-align">
        Assign tasks you don't want to do to people willing to do it.
      </p>
      <form class="row">
        <div class="input-field col s7 offset-s2">
          <i class="material-icons prefix">search</i>
          <input type="text" placeholder="House painting">
        </div>
      </form>

      <div class="scroll-wrap center-align">
        <a href="#step" data-scroll>
          <i class="material-icons medium scroll-item">play_for_work</i>
        </a>
        <p>Scroll</p>
      </div>
    </section>

    <section class="steps col s9 offset-s3 center-align" id="step">
      <h3>WORKDEY IN THREE EASY STEPS</h3>

      <div class="row items">
        <div class="col s4">
          <i class="material-icons large">description</i>
          <h4>Describe Task</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sint in eos et aperiam, consectetur porro neque nihil numquam ipsa, saepe veniam suscipit dolor iusto enim! Accusamus ea labore ipsum.
          </p>
        </div>
        <div class="col s4">
          <i class="material-icons large">thumbs_up_down</i>
          <h4>Choose a Taskee</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sint in eos et aperiam, consectetur porro neque nihil numquam ipsa, saepe veniam suscipit dolor iusto enim! Accusamus ea labore ipsum.
          </p>
        </div>
        <div class="col s4">
          <i class="material-icons large">done_all</i>
          <h4>Task gets done</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sint in eos et aperiam, consectetur porro neque nihil numquam ipsa, saepe veniam suscipit dolor iusto enim! Accusamus ea labore ipsum.
          </p>
        </div>
      </div>
    </section>

    <section class="why-use col s9 offset-s3 center-align" id="why-use">
      <h3>WHY USE WORKDEY</h3>

      <div class="row items">
        <div class="col s6">
          <i class="material-icons medium">flight_takeoff</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col s6">
          <i class="material-icons medium">loyalty</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col s6">
          <i class="material-icons medium">history</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
        <div class="col s6">
          <i class="material-icons medium">group_work</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col s12 more">
          <a class="waves-effect waves-light btn" href="#">More</a>
        </div>
      </div>
    </section>
  </div>
</section>
</main>

<div class="row page-footer">
  <footer class="center-align col s9 offset-s3">
  <div class="row">
    <div class="col s6">
      <h5>Footer</h5>
      <p>Footer stuff will go in here</p>
    </div>

    <div class="col s6 footer-links">
      <h5>Links</h5>
      <ul>
        <li><a href="#">Crimson</a></li>
        <li><a href="#">Crane</a></li>
        <li><a href="#">Abbot</a></li>
        <li><a href="#">Auburn</a></li>
        <li><a href="#">Robin</a></li>
      </ul>
    </div>

    <div class="col s12 copyright">
      <p>&copy; 2015 Copyright Text</p>
    </div>
  </div>
</footer>
</div>
