<header>
  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li>
          <a class="waves-effect waves-light" href="#">
            <i class="material-icons left">account_box</i> SIGN UP
          </a>
        </li>
        <li>
          <a class="waves-effect waves-light" href="#">
            <i class="material-icons right">dashboard</i> LOG IN
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <section class="dotnavigation dotstyle">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#step">Steps</a></li>
    <li><a href="#why-use">Why</a></li>
  </ul>
</section>
</header>

<main>
  <section class="main">
  <div class="row">
    <aside class="sidebar">
      <p>
        <i class="fa fa-skyatlas"></i> WORKDEY
      </p>

      <ul class="page-links">
        <li>
          <a href="#">
            <i class="material-icons right small">home</i>HOME
          </a>
        </li>
        <li>
          <a href="#">
            <i class="material-icons right small">description</i>HOW IT WORKS
          </a>
        </li>
        <li>
          <a href="#">
            <i class="material-icons right small">account_circle</i>BECOME A TASKEE
          </a>
        </li>
      </ul>

      <ul class="info-links">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Terms &amp; Conditions</a></li>
      </ul>

      <ul class="social-media-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      </ul>
    </aside>

    <section class="main-section col s9 offset-s3" id="home">
      <h1 class="center-align hero-msg">YOU HAVE BETTER THINGS TO DO</h1>
      <p class="tagline center-align">
        Assign tasks you don't want to do to people willing to do it.
      </p>
      <form class="row">
        <div class="input-field col s7 offset-s2">
          <i class="material-icons prefix">search</i>
          <input type="text" placeholder="House painting">
        </div>
      </form>
    </section>

    <section class="steps col s9 offset-s3 center-align" id="step">
      <h3>WORKDEY IN THREE EASY STEPS</h3>

      <div class="row items">
        <div class="col s4">
          <i class="material-icons large">description</i>
          <h4>Describe Task</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sint in eos et aperiam, consectetur porro neque nihil numquam ipsa, saepe veniam suscipit dolor iusto enim! Accusamus ea labore ipsum.
          </p>
        </div>
        <div class="col s4">
          <i class="material-icons large">thumbs_up_down</i>
          <h4>Choose a Taskee</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sint in eos et aperiam, consectetur porro neque nihil numquam ipsa, saepe veniam suscipit dolor iusto enim! Accusamus ea labore ipsum.
          </p>
        </div>
        <div class="col s4">
          <i class="material-icons large">done_all</i>
          <h4>Task gets done</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi sint in eos et aperiam, consectetur porro neque nihil numquam ipsa, saepe veniam suscipit dolor iusto enim! Accusamus ea labore ipsum.
          </p>
        </div>
      </div>
    </section>

    <section class="why-use col s9 offset-s3 center-align" id="why-use">
      <h3>WHY USE WORKDEY</h3>

      <div class="row items">
        <div class="col s6">
          <i class="material-icons medium">flight_takeoff</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col s6">
          <i class="material-icons medium">loyalty</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col s6">
          <i class="material-icons medium">history</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col s6">
          <i class="material-icons medium">group_work</i>
          <h4>TAGLINE</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>

        <div class="col s12 more">
          <a class="waves-effect waves-light btn" href="#">More</a>
        </div>
      </div>
    </section>
  </div>
</section>
</main>

<div class="row page-footer">
  <footer class="center-align col s9 offset-s3">
  <div class="row">
    <div class="col s6">
      <h5>Footer</h5>
      <p>Footer stuff will go in here</p>
    </div>

    <div class="col s6 footer-links">
      <h5>Links</h5>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div>

    <div class="col s12 copyright">
      <p>&copy; 2015 Copyright Text</p>
    </div>
  </div>
</footer>
</div>