<section class="dotnavigation dotstyle">
  <ul>
    <li class="active"><a href="#home" data-scroll>Home</a></li>
    <li><a href="#step" data-scroll>Steps</a></li>
    <li><a href="#why-use" data-scroll>Why</a></li>
  </ul>
</section>

<main>
  <%= render partial: "partials/flash" %>
  <section class="main">
  <div class="row">

    <section class="main-section col s12" id="home">
      <h1 class="center-align hero-msg">YOU HAVE BETTER THINGS TO DO</h1>
      <p class="tagline center-align">
        Assign tasks you don't want to do to people willing to do it.
      </p>
      <%= render "partials/search_for_artisan" %>
      <div class="scroll-wrap center-align">
        <a href="#step" data-scroll>
          <i class="material-icons medium scroll-item">play_for_work</i>
        </a>
        <p>Scroll</p>
      </div>
    </section>

    <section class="steps col s12 center-align" id="step">
      <h3>WORKDEY IN THREE EASY STEPS</h3>

      <div class="container">
        <div class="row items">
        <div class="col s4">
          <i class="material-icons large">description</i>
          <h4>Describe Task</h4>
          <p>
            As a tasker, you are able to create tasks of varying types and complexity.
          </p>
        </div>
        <div class="col s4">
          <i class="material-icons large">thumbs_up_down</i>
          <h4>Choose a Artisan</h4>
          <p>
            You alone have the power to delegate any created tasks to an available person willing to carry it out.
          </p>
        </div>
        <div class="col s4">
          <i class="material-icons large">done_all</i>
          <h4>Task gets done</h4>
          <p>
            Sit back and relax as your assigned artisan carries out your task as smoothly and as efficiently as possible.
          </p>
        </div>
      </div>
      </div>
    </section>

    <section class="why-use col s12 center-align" id="why-use">
      <h3>WHY USE WORKDEY</h3>

      <div class="container">
        <div class="row items">
        <div class="col s6">
          <h4>
            <i class="material-icons left">loyalty</i> FREE TO USE
          </h4>
          <p>
            The workdey platform is entirely free to use. Anyone can get started easily, all you need is an account.
          </p>
        </div>

        <div class="col s6">
          <h4>
            <i class="material-icons right">stars</i> QUALITY ASSURED
          </h4>
          <p>
            Artisans are professionals who are ready to put in their very best for every task.
          </p>
        </div>

        <div class="col s6">
          <h4>
            <i class="material-icons left">history</i> SAVE TIME
          </h4>
          <p>
            Focus on things that add value to your life. Workdey helps you live smarter by giving you time to do the important things that matter to you.
          </p>
        </div>
        <div class="col s6">
          <h4>
            <i class="material-icons right">phone_in_talk</i> EASY COMMUNICATION
          </h4>
          <p>
            Stay in touch with your assigned artisan on the platform. Workdey enables seamless communication between you and artisans.
          </p>
        </div>
      </div>
      </div>
    </section>
  </div>
</section>
</main>
