<body>
    <main>
        <section class="main container center-align">
            <div class="row">
                <section class="col s12">
                    <div class="user_info card" style="padding-left: 20px;">
                        <p id="demo"></p>
                        <div style='width: 800px;'>
                            <div id="map" style='width: 800px; height: 400px;'></div>
                        </div>
                    </div>
                </section>
                <button id="marker" class="btn" onclick="addMarkers()">Add Markers</button>
                <button id="marker" class="btn" onclick="removeMarkers()">Remove </button>
            </div>
        </section>
    </main>
</body>


<script type="text/javascript">
    function getMap() {
        console.log("this method is called")
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(initMap);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    };

    var position;

    var map;
    function initMap(current_position) {
      position = {lat: current_position.coords.latitude, lng: current_position.coords.longitude};
        console.log(position)
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: position.lat, lng: position.lng},
        zoom: 12
      });

        var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: 'Your current Location! '
          });
        }

        markers = []
            function addMarkers() {
                i = 9
                var going = {lat: 6.5083701, lng: 3.3842473}
                console.log("button clicked")
                      //   var karashika = new google.maps.Marker({
                      //   position: going,
                      //   map: map,
                      //   title: ' New Marker Location! '
                      // });
                while (i > 0) {
                    console.log(i)
                    var lat = position.lat + (i * 0.1);
                    var lng = position.lng + (i * 0.1);
                    var newMarker = new google.maps.Marker({
                        position: {lat: lat, lng: lng},
                        map: map,
                        title: 'i' + i
                        });
                    // newMarker.setMap(map)
                    markers.push(newMarker)
                    i -= 1;
                }
            }

            function removeMarkers() {
              for (i = 0; i < markers.length; i++ ) {
                marker = markers[i]
                marker.setMap(null)
              }
              markers = []
            }
    //     function showPosition(position) {
    //         handler = Gmaps.build('Google');
    //         handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    //           markers = handler.addMarkers([
    //             {
    //               "lat": position.coords.latitude ,
    //               "lng": position.coords.longitude,
    //               "picture": {
    //                 "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
    //                 "width":  32,
    //                 "height": 32
    //               },
    //               "infowindow": "hello!"
    //             }
    //           ]);
    //           handler.bounds.extendWith(markers);
    //           handler.fitMapToBounds();
    //         });
    //      console.log ('this map has loaded')
    //     };




</script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiKS5l5Gh-4OeQS7HFY5-ps60Iz5YB-0s&callback=getMap">
    </script>
