<div class="row">
  <section class="col m9 s12 offset-m3">
    <div id="locator"></div>
    <%= button_tag "Show Taskers Nearby", { class: "nearby", id: "nearby", onclick: "geoFindMe()" } %>
    <% if @taskees.nil? %>
      <p>Oooops! We could not find any result matching your query. You can modify your it or use one of our suggested keywords and search again.</p>
    <% else %>
      <% @taskees.each do | taskee | %>
        <div>
           <%= taskee.firstname %>
        </div>
      <% end %>
    <% end %>
  </section>
</div>