<div id="broadcast_modal" class="modal">
  <%= form_for @task do |f| %>
    <div class="modal-content modal-fixed-footer">
      <h4>Enter the price range</h4>
      <div class="row">
        <div class="input-field col s6">
          <input name="min_price" type="text" class="validate" pattern="[0-9]+" required>
          <label for="min_price">Minimum</label>
        </div>
        <div class="input-field col s6">
          <input name="max_price" type="text" class="validate" pattern="[0-9]+" required>
          <label for="max_price">Maximum</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="right">
        <button class="btn waves-effect waves-light" id="broadcast_submit" type="submit">Broadcast Task
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  <% end %>
</div>
