<div class="container-large col s12" id="questions_index">
  <div class="row">
    <h3 class="center-align"><strong>You can view, rank, add, edit and delete questions from this page</strong></h3>
    <% @questions.each do |question| %>
    <div class="questions card z-depth-1 hoverable col s12" id="<%=question.rank%>">
      <%= render partial: 'admin/questions/question', locals: { question: question } %>
    </div>
    <% end %>

    <%= link_to "Add New Question", new_admin_question_path, class: "btn view-btn left-align teal" %>
  </div>
</div>
