<%= render 'partials/sidebar_dashboard' %>
<section class="main container">
  <div class="row">
    <div class="col m10 offset-m1">
      <div class="row">
        <div class="col m5 offset-m1">
          <h2>New Bid</h2>
          <%= render 'form' %>
        </div>
        <div class="col m5 offset-m1">
          <h1>Bids</h1>
        </div>
      </div>
    </div>
  </div>
</section>
