<%= render 'partials/sidebar_dashboard' %>
<section class="main container">
<div class="row">
  <div class="col m12">
    <div class="row">
      <div class="col m8 offset-m1">
        <h1 class="inline">References</h1>
        <%= link_to new_reference_path, class: 'btn-floating btn-large waves-effect waves-light red tooltipped',
          id: 'new-reference-btn', "data-position": "left", "data-delay": "50", "data-tooltip": "Add new reference" do %>
          <i class="material-icons">add</i>
        <% end %>
        <table id="references-table">
          <thead>
            <th data-field="name">Name</th>
            <th data-field="email">Email</th>
          </thead>
          <tbody>
            <%= render @references %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</section>
