.picker__close, .picker__today {
font-size: 1.1rem;
padding: 0 1rem;
color: #eb4D5c;
}

.picker__date-display, .picker__weekday-display{
  background-color: #eb4D5c;
}

prev:hover, .picker__nav--next:hover {
  cursor: pointer;
  color: #000000;
  background: #eb4D5c;
}
