<table class="table">
  <thead>
    <th>First Name</th>
    <th>Last Name</th>
    <!-- <th></th> -->
  </thead>
  <tbody>
    <% @uncertified_artisans.each do |artisan| %>
    <tr>
      <td> <%= artisan.firstname %></td>
      <td> <%= artisan.lastname %></td>
    </tr>
    <% end %>

  </tbody>
</table>
