<%#= render 'partials/sidebar_dashboard' %>
<section class="main container">
  <div class="row">
    <div class="col m10 offset-m1">
      <div class="row">
        <div class="col m5 offset-m1">
          <% if @skillsets.empty? %>
            <p>You don't have any skillsets</p>
          <% else %>
            <ul class="collection with-header">
              <li class="collection-header"><h4>My Skill Set</h4></li>
              <%= form_tag "/skillsets/update_skillset", method: "post", id: "update_skillset" do %>
              <%= render partial: 'skillset', collection: @skillsets %>
            </ul>
              <button id="update_skillset" class="btn waves-effect waves-light" type="submit">
                Update My Skill Set<i class="material-icons left">directions_bike</i>
              </button>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
