<div class="main">
<div class="row">
    <section class = "col s4 offset-s2">
        <h3>Reviews Given</h3>
          <%= @reviews.render_reviews("reviews") %>
    </section>
      <section class="col s6">
       <h3>Feedbacks Received</h3>
        <%= @feedbacks.render_reviews("feedbacks") %>
    </section>
</div>
</div>
