<div>
    <div>
      <h3>Reviews Given</h3>
      <%= @reviews.render_reviews("reviews") %>

    </div>
    <div>
      <h3>Feedbacks Received</h3>
      <%= @feedbacks.render_reviews("feedbacks") %>
    </div>
</div>
