<main>
  <section class="main container search-height">
    <div class="row" style="margin-left: 50px">
      <% if @artisans.empty? %>
          <h5 class="text-center"> There are currently no artisans here </h5>
      <% else %>
          <h3 id="center"> <b>Artisans and their skillsets </b></h3><br>
          <table>
            <thead>
              <th><b>Artisan</b></th><th><b>Skillsets</b></th><th><b>Location</b></th>
            </thead>
            <tbody>
              <%= render @artisans %>
            </tbody>
          </table>
          <div id="user-location-modal" class="modal" data-name="<%=ENV['geoKeyBrowser']%>">
            <div class="modal-content">
              <h4><b></b></h4>
              <div id="user-map" style="height: 300px; width: 100%"></div>
            </div>
          </div>
          <div id="google-maps-scripts"></div>

          <%= will_paginate @artisans %>
      <% end %>
    </div>
  </section>
</main>
