<header>
    <nav>
      <div class="nav-wrapper">
        <ul class="right">
          <li>
            <%= link_to raw("<i class='material-icons left'>account_box</i>SIGN UP"), signup_path, class: "waves-effect waves-light" %>
          </li>
          <li>
            <%= link_to raw("<i class='material-icons left'>account_box</i>LOG IN"), "#", class: "waves-effect waves-light" %>
          </li>
        </ul>
      </div>
    </nav>
</header>

